body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("x.jpg") 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.content-title{
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
