.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("mac.jpg");
  */
  background-image: url("mac.jpg");
  background-size: cover;
  background-position: center;
 }

 .banner-content{
  top: 4em;
  right: 2em;
    text-transform: capitalize;
    position: absolute;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    transition: height 2s;
 }



  h1 {
    color: white;
    font-weight: bold;
    font-size: 35px;
  }


  p {
    color: white;
    opacity: 0.8;
    font-size: 15px;
    font-weight: lighter;

  }



  .footer {
  background-color: rgb(20,20,20);;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  padding: 0px 50px;
  color: white;
  position: relative;
  font-size: 10px;

}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  opacity: 1;
  color: rgb(208,208,208);
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}



.footer .fa-heart {
  color: #D23333;
}


